* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    height: 100vh;
}

#geometry-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Contenido Central */
.center-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    width: 300px;
    pointer-events: none; /* Para que el mouse pase a través del texto hacia las figuras */
}

.sub-title {
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
}

.bold { font-weight: 900; }

/* Textos en el contorno (Orbitando) */
.orbit-text {
    position: fixed;
    font-size: 4vw;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 5;
    animation: moveAround 20s linear infinite;
}

/* Diferentes puntos de inicio para cada texto */
.t2 { animation-delay: -5s; }
.t3 { animation-delay: -10s; }
.t4 { animation-delay: -15s; }

@keyframes moveAround {
    0%   { top: 5%;  left: 5%; }
    25%  { top: 5%;  left: 60%; }
    50%  { top: 85%; left: 60%; }
    75%  { top: 85%; left: 5%; }
    100% { top: 5%;  left: 5%; }
}