/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* Evita que la página se mueva al seguir el mouse */
}

/* El fondo interactivo */
#fluid-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    filter: blur(60px); /* Difumina la luz para que parezca lámpara de lava */
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2; /* Pone el texto por delante de la luz */
}

.text-container {
    width: 80%; /* Ajusta qué tan ancho quieres el texto en pantalla */
    max-width: 1000px;
    text-align: justify; /* Clave para que el subtítulo se estire */
}

.main-title {
    font-size: 8vw;
    font-weight: 100; /* Letra muy delgada */
    letter-spacing: -2px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    text-align: center; /* El nombre se centra */
}

.sub-title {
    font-size: 1.1vw; /* Ajuste para que el largo coincida con el nombre */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.42vw; /* Ajusta este valor si quieres más o menos separación */
    display: block;
    width: 100%;
    text-align: justify;
    text-align-last: justify; /* Fuerza a la última línea a ocupar todo el ancho */
    margin-top: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); /* Línea divisoria delgada */
    padding-top: 15px;
}

.bold {
    font-weight: 900;
}