/* Añadir estas líneas al final de tu style.css */

.img-holder {
    position: relative; /* Para que la etiqueta se pegue a la imagen */
}

.skill-tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 12px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 10;
    border: 1px solid #1a1a1a;
}

.project-info p {
    font-size: 0.85rem;
    color: #888;
    margin-top: 5px;
    font-weight: 300;
}